<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  <appSettings>
    <add key="JosAppKey" value="40E118FA79BB166F8BB52C2EFE08D631"/>
    <add key="JosAppSecret" value="893856554f6246319f988a96c1862178"/>
    <add key="JosSessionKey" value="cddbccaf-2fce-40d3-85e5-6fc498bace95"/>
  </appSettings>
</configuration>
